<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>OdinWheresWaldo</title>

    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>

    <header class="header">
      <nav class="nav">
        <ul>
          <li class="nav__item">
            <%= link_to "OdinWheresWaldo", "/", class: "nav__link" %>
          </li> 
        </ul>
      </nav> 
    </header>

    <main class="main">
      <%= yield %>
    </main>

    <footer class="footer">
      <span class="footer__text">
        Copyright &copy; 2019 Ben Garcia
      </span>
      <a class="footer__link" href="https://github.com/ben-garcia/odin_wheres_waldo/">
        View Code
      </a>
    </footer>

  </body>

</html>
